In [16]:
import os

import dotenv

from postgresql_connector import PostgreSqlConnector

In [22]:
dotenv.load_dotenv()
dotenv.load_dotenv("../terraform/etl_pipeline_infrastructure/redshift.env")

True

In [7]:
redshift_connector = PostgreSqlConnector()

In [26]:
redshift_connector.connect(
    user=os.getenv("login"),
    password=os.getenv("password"),
    database=os.getenv("database_name"),
    host=os.getenv("redshift_host"),
    port=os.getenv("redshift_port")
)

In [27]:
redshift_connector.list_databases()

['dev', 'usa_health_data', 'padb_harvest', 'template1', 'template0']

In [28]:
redshift_connector.get_tables()

['supplementaldatastatestaging',
 'supplementaldatacountystaging',
 'countystatehealthdatastaging',
 'covidcases',
 'supplementaldatastagestagingpivoted',
 'allcountydatastaging',
 'statehealthdata',
 'state',
 'countystatehealthdatastagingpivoted',
 'countyhealthdata',
 'county',
 'covidvaccination']

In [30]:
df = redshift_connector.get_table("countyhealthdata")

In [31]:
df

,fips,pct_laccess_lowi15,laccess_child_10_15,laccess_seniors15,laccess_pop10,pct_laccess_seniors15,pct_laccess_nhna15,laccess_lowi10,pct_laccess_hhnv10,laccess_child10,...,cacfp_part_2015,sfsp_part_2018,state_population_2017,sbp_part_2014,sfsp_part_2012,state_population_2013,sbp_part_2018,sfsp_part_2016,state_population_2015,wic_part_2016
0,36025,0.789258,-20.278440,249.614594,1362.465698,0.520247,0.002444,440.445953,3.720821,269.764130,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,28073,4.685173,-0.659489,790.791931,7993.846680,1.420805,0.020702,2864.136719,1.422967,2119.578613,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20017,34.790878,0.000000,553.553284,2615.446533,19.840620,0.215054,880.063538,2.914750,571.992310,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4023,12.807902,-3.856646,1808.001465,13052.309570,3.812740,0.159853,5112.386230,1.385846,3809.880371,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8069,4.651517,-13.987291,8020.990234,67259.250000,2.676965,0.137476,15306.820312,0.849107,15594.698242,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6331,18161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6332,18013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6333,51790,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6334,48219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6335,39143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN